* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 150vh;
	background-color: #000000;
	color: #ffffff;
}

/* Navbar Section */

#header-bar {
	position: fixed;
	top: 0px;
}

.navbar {
	height: 12.5vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 7%;
	background-color: #000000;
}

.logo {
	position: relative;
	width: 60%;
}

.line {
	height: 3.5rem;
	width: 2px;
	background-color: #fff;
	position: absolute;
	left: 17rem;
}

.grow-list {
	display: flex;
	align-items: center;
	width: 65%;
	justify-content: flex-start;
}

.list {
	display: flex;
	align-items: center;
}

.list-item {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	margin-right: 5rem;
}

/* .list-item:first-child::after {
	display: inline-flex;
	content: '^';
	transform: rotate(180deg);
	justify-content: center;
	align-items: center;
	font-size: 20px;
	width: 30px;
	padding-bottom: 2px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
} */

.list-item:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.button-small {
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	font-weight: 600;
	background-color: #ba0cc5;
	color: #ffffff;
	border: none;
	border-radius: 7px;
	padding: 10px 35px;
}

.button-small:hover {
	background-color: #ffffff;
	color: #ba0cc5;
	font-weight: bold;
}

/* Hero Section */

.hero {
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	background-image: url('./assets/bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 135vh;
}

.hero-heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 5rem;
	text-align: center;
	width: 70%;
	padding-top: 12%;
}

.hero-description {
	font-family: 'Poppins', sans-serif;
	font-size: 1.9rem;
	font-weight: 400;
	padding-top: 1rem;
}

.button-large {
	font-family: 'Poppins', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	background-color: #ba0cc5;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	padding: 10px 25px;
	margin-top: 70px;
}

.button-large:hover {
	background-color: #ffffff;
	color: #ba0cc5;
	font-weight: bold;
}

/* Footer */

footer p {
	font-family: 'Poppins', sans-serif;
	font-size: 0.85rem;
	text-align: center;
	padding-bottom: 20px;
}